/* Over here you will find:

  - CSS Reset
  - Custom Fonts
  - Variables
  - Global classes 
  
*/


/* === Small CSS Reset === */
*{
  margin: 0;
  padding: 0;
}
*, *::after, *::before{
  box-sizing: border-box;
}

/* Custom Fonts for possible use */
  
@font-face {
  font-family: 'myFirstFont';
  src: url('../theme/fonts/SF_Shai_Fontai_Extended-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mySecondFont';
  src: url('../theme/fonts/Japan.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'myThirdFont';
  src: url('../theme/fonts/JAPANBRUSH.ttf');
  font-weight: normal;
  font-style: normal;
}

/* -------- Variables --------- */

:root {

/* Themed colors https://coolors.co/ */
--text-gray: #2e3338;
--text-light: #525252da;
--bg-color: #0f0f0f;
--white: #ffffff;
--cherry: #fa6ebb;
--sakura: #f8a8c9;
--darkcherry: #790032;
--red: #c00000;
--light-grey: #d8d8d8;

/* Gradient color https://webgradients.com/ */

--sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
--pink: linear-gradient(120deg, #fd84a2 0%, #cf4585 100%);
--pink-light: linear-gradient(120deg, #f1a3c4 0%, #dfa1ee 100%);
--pink-very-light: linear-gradient(120deg, #fd84a2 0%, #fac0db 100%);
--pink-heavy: linear-gradient(120deg, #a81f41 0%, #fac0db 100%);

/* Themed fonts (used in this blog) */

--logo: 'Permanent Marker', cursive; /* For logo */
--linksnbtn: 'Abel', cursive;        /* For Links and Buttons */
--textntitles: 'Nunito', sans-serif; /* For Text and Titles */

}

/* ----x---- Variables ----x---- */
/* --------- Global Classes --------- */
a {
  text-decoration: none;
  color: var(--text-gray);
}

p {
  font-family: var(--textntitles);
  color: var(--text-light);
}

/* Add a flex-row in the html to flex the object... */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* It can collapse perfectly if the size is shrinking */
}

ul {
  list-style-type: none;
}

span {
  font-family: var(--textntitles);
  font-size: 1.3rem;
}

h1 {
  font-family: var(--textntitles);
  font-size: 5.5rem;
  font-weight: 700;
}

h2 {
  font-family: var(--textntitles);
  font-size: 3.4rem;
  font-weight: 500;
  color: var(--text-gray);
}

h3 {
  font-family: var(--textntitles);
  font-size: 1.3rem;
  font-weight: 500;
}

button.btn, a.btn {
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-family: var(--linksnbtn);
  font-weight: 400;
  background: var(--pink);
  color: var(--white);
  cursor: pointer;
  border: 1px solid var(--white);
}

.container {
  margin: 0 2vw;
}

.text-gray {
  color: var(--text-gray);
}

section .title {
  text-align: center;
  padding-top: 3.5rem;
  font-family: var(--textntitles);
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--text-gray);
}

section .title-main {
  font-family: var(--textntitles);
  font-size: 3rem;
  font-weight: 500;
  color: var(--text-gray);
  margin: 6rem 0 1rem 2rem;
}

section .title-sidebar {
  font-family: var(--textntitles);
  font-size: 3rem;
  font-weight: 500;
  color: var(--text-gray);
  text-align: center;
  padding-top: 6rem;
  margin-bottom: 1.5rem;
}

body {
  width: 100%;
  /* To eliminate horizontal scrollbar */
  overflow-y: scroll;
  overflow-x: hidden;
}

input {
  font-family: var(--textntitles);
}

textarea {
  font-family: var(--textntitles);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem;
}

hr {
  border: 1px solid;
  color: var(--text-light);
}

/* ----x---- Global Classes ----x---- */